@model BanGiay.Models.VerifyOtpViewModel

@{
    ViewBag.Title = "Xác nhận mã OTP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .container1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 1280px;
        margin: 0 auto;
    }

    .checkout {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3em 0;
        width: 100%;
    }

        .checkout .left.styled {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 500px;
            border-radius: 8px;
        }

    form p {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }

    .checkout .left h1 {
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    .form-control.input {
        width: 350px;
    }

    .primary-checkout {
        display: flex;
        justify-content: center;
    }

    .primary-button {
        display: block;
        border: 0;
        outline: 0;
        cursor: pointer;
        width: 300px;
        font-size: 1.2em;
        padding: 0.5em 0;
        background-color: var(--primary-color);
        color: var(--white-color);
        text-align: center;
    }

    .primary-checkout button {
        display: block;
        border: 0;
        outline: 0;
        cursor: pointer;
        max-width: 350px;
        margin-top: 0.5em;
        font-size: 1.2em;
    }

    .forgot-password-link {
        margin-top: 1em;
        text-align: center;
    }

        .forgot-password-link a {
            color: #453c5c;
            text-decoration: none;
        }
</style>


<div class="container1">
    <div class="checkout">
        <div class="item left styled">
            <h1>Xác nhận mã OTP</h1>
            @using (Html.BeginForm("VerifyOtp", "Account", FormMethod.Post, new { id = "verifyOtpForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <p>
                        <h4 style="margin-bottom:0.5em;">Nhập mã OTP của bạn: </h4>
                        @Html.TextBoxFor(m => m.Otp, new { @class = "form-control input" })
                        @Html.ValidationMessageFor(m => m.Otp, "", new { @class = "text-danger" })
                    </p>
                </div>

                <div class="primary-checkout">
                    <button type="submit" class="primary-button">Xác nhận</button>
                </div>
            }
        </div>
    </div>
</div>
