
@{
    ViewBag.Title = "Page_single";
}


<main>
    <div class="single-product">
        <div class="container">
            <div class="wrapper">
                <div class="breadcrumb">
                    <ul class="flexitem">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Giay the thao</a></li>
                        <li><a href="#">Giay chay bo</a></li>
                    </ul>
                </div>
                <!--breadcrumb-->
                <div class="column">
                    <div class="products one">
                        <div class="flexwrap">
                            <div class="row">
                                <div class="item">
                                    <div class="price">
                                        <span class="discount">32%<br>OFF</span>
                                    </div>
                                    <div class="big-image">
                                        <div class="big-image-wrapper swiper-wrapper">
                                            <div class="image-show swiper-slide">
                                                <a data-fslightbox href="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/47f1be7a-8cc2-4fbb-acfc-28212e7a8056/air-jordan-i-high-g-golf-shoes-qKzTBg.png"><img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/47f1be7a-8cc2-4fbb-acfc-28212e7a8056/air-jordan-i-high-g-golf-shoes-qKzTBg.png" /></a>
                                            </div>
                                            <div class="image-show swiper-slide">
                                                <a data-fslightbox href="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/032c1139-8797-4681-93cc-4270627b206b/air-jordan-i-high-g-golf-shoes-qKzTBg.png"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/032c1139-8797-4681-93cc-4270627b206b/air-jordan-i-high-g-golf-shoes-qKzTBg.png" /></a>
                                            </div>
                                            <div class="image-show swiper-slide">
                                                <a data-fslightbox href="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/6b5c0b53-f717-45f8-8b2d-b1d5440852a4/air-jordan-i-high-g-golf-shoes-qKzTBg.png"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/6b5c0b53-f717-45f8-8b2d-b1d5440852a4/air-jordan-i-high-g-golf-shoes-qKzTBg.png" /></a>
                                            </div>
                                            <div class="image-show swiper-slide">
                                                <a data-fslightbox href="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/52553e3e-037c-4fb2-b826-14bb7887876a/air-jordan-i-high-g-golf-shoes-qKzTBg.png"><img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/52553e3e-037c-4fb2-b826-14bb7887876a/air-jordan-i-high-g-golf-shoes-qKzTBg.png" /></a>
                                            </div>
                                        </div>
                                        <div class="swiper-button-next"></div>
                                        <div class="swiper-button-prev"></div>
                                    </div>

                                    <div thumbSlider="" class="small-image">
                                        <ul class="small-image-wrapper flexitem swiper-wrapper">
                                            <li class="thumbnail-show swiper-slide ">
                                                <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/47f1be7a-8cc2-4fbb-acfc-28212e7a8056/air-jordan-i-high-g-golf-shoes-qKzTBg.png" />
                                            </li>
                                            <li class="thumbnail-show swiper-slide ">
                                                <img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/032c1139-8797-4681-93cc-4270627b206b/air-jordan-i-high-g-golf-shoes-qKzTBg.png" />
                                            </li>
                                            <li class="thumbnail-show swiper-slide ">
                                                <img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/6b5c0b53-f717-45f8-8b2d-b1d5440852a4/air-jordan-i-high-g-golf-shoes-qKzTBg.png" />
                                            </li>
                                            <li class="thumbnail-show swiper-slide ">
                                                <img src="https://static.nike.com/a/images/t_PDP_864_v1/f_auto,b_rgb:f5f5f5,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/52553e3e-037c-4fb2-b826-14bb7887876a/air-jordan-i-high-g-golf-shoes-qKzTBg.png" />
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item"></div>
                                <h1>Air Jordan I High G</h1>
                                <div class="content">
                                    <div class="rating">
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <a href="#" class="mini-text">1021 reviews</a>
                                        <a href="" class="add-review mini-text">Add your review</a>
                                    </div>
                                    <div class="stock-sku">
                                        <span class="available">In Stock</span>
                                        <span class="sku mini-text">SKU-881</span>
                                    </div>
                                    <div class="price">
                                        <span class="current">5,279,000₫</span>
                                        <span class="normal">7,279,000₫</span>
                                    </div>
                                    <div class="colors">
                                        <p>Color</p>
                                        <div class="variant">
                                            <form action="">
                                                <P>
                                                    <input type="radio" name="color" id="cogrey">
                                                    <label for="cogrey" class="circle"></label>
                                                </P>
                                                <P>
                                                    <input type="radio" name="color" id="coblue">
                                                    <label for="coblue" class="circle"></label>
                                                </P>
                                                <P>
                                                    <input type="radio" name="color" id="cogreen">
                                                    <label for="cogreen" class="circle"></label>
                                                </P>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="sizes">
                                        <p>
                                            Size
                                        </p>
                                        <div class="variant">
                                            <form action="">
                                                <P>
                                                    <input type="radio" name="size" id="size-40" />
                                                    <label for="size-40" class="circle"><span>40</span></label>
                                                </P>
                                                <P>
                                                    <input type="radio" name="size" id="size-41" />
                                                    <label for="size-41" class="circle"><span>41</span></label>
                                                </P>
                                                <P>
                                                    <input type="radio" name="size" id="size-42" />
                                                    <label for="size-42" class="circle"><span>42</span></label>
                                                </P>
                                                <P>
                                                    <input type="radio" name="size" id="size-43" />
                                                    <label for="size-43" class="circle"><span>43</span></label>
                                                </P>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="actions">
                                        <div class="qty-control flexitem">
                                            <button class="minus circle">-</button>
                                            <input type="text" value="1">
                                            <button class="plus circle">+</button>
                                        </div>
                                        <div class="button-cart"><button class="primary-button">Add to cart</button></div>
                                        <div class="wish-share">
                                            <ul class="flexitem second-links">
                                                <li>
                                                    <a href="#">
                                                        <span class="icon-large"><i class="ri-heart-line"></i></span>
                                                        <span>Wish List</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="icon-large"><i class="ri-share-line"></i></span>
                                                        <span>Share</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="description collapse">
                                        <ul>
                                            <li class="has-child expand">
                                                <a href="#" class="icon-small">Information</a>
                                                <ul class="content">
                                                    <li><span>Brands</span><span>Nike</span></li>
                                                    <li><span>Activity</span><span>Running</span></li>
                                                    <li><span>Material</span><span>Fleece</span></li>
                                                    <li><span>Gender</span><span>Gay</span></li>
                                                </ul>
                                            </li>
                                            <li class="has-child">
                                                <a href="#" class="icon-small">Details</a>
                                                <div class="content">
                                                    <p>lorem nadsjkdwqjdnwqjdjqkwdnq hahahasd hadhwqhwqjebqwjenqwqekneqwjenqwjkqwahwiueqwmko </p>
                                                    <p>lorem nadsjkdwqjdnwqjdjqkwdnq hahahasd hadhwqhwqjebqwjenqwqekneqwjenqwjkqwnqkejqwnjkewqjk </p>

                                                </div>
                                            </li>
                                            <li class="has-child">
                                                <a href="#" class="icon-small">Custom</a>
                                                <div class="content">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>Size</th>
                                                                <th>Bust<span class="mini-text">(cm)</span></th>
                                                                <th>Waist<span class="mini-text">(cm)</span></th>
                                                                <th>Hip<span class="mini-text">(cm)</span></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>XS</td>
                                                                <td>82,5</td>
                                                                <td>62</td>
                                                                <td>87,5</td>
                                                            </tr>
                                                            <tr>
                                                                <td>S</td>
                                                                <td>85</td>
                                                                <td>63.5</td>
                                                                <td>89</td>
                                                            </tr>
                                                            <tr>
                                                                <td>M</td>
                                                                <td>87</td>
                                                                <td>67,5</td>
                                                                <td>93</td>
                                                            </tr>
                                                            <tr>
                                                                <td>L</td>
                                                                <td>90</td>
                                                                <td>72,5</td>
                                                                <td>98</td>
                                                            </tr>
                                                            <tr>
                                                                <td>XL</td>
                                                                <td>93</td>
                                                                <td>77,5</td>
                                                                <td>103</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </li>
                                            <li class="has-child expand">
                                                <a href="#" class="icon-small">Reviews<span class="mini-text">2.2k</span></a>
                                                <div class="content">
                                                    <div class="reviews">
                                                        <h4>Customers Reviews</h4>
                                                        <div class="review-block">
                                                            <div class="review-block-head">
                                                                <div class="flexitem">
                                                                    <span class="rate-sum">4.9</span>
                                                                    <span>2,251 Reviews</span>
                                                                </div>
                                                                <a href="#review-form" class="secondary-button">Write review</a>
                                                            </div>
                                                            <div class="review-block-body">
                                                                <ul>
                                                                    <li class="item">
                                                                        <div class="review-form">
                                                                            <p class="person">Review by Duc</p>
                                                                            <p class="mini-text">On 7/7/24</p>
                                                                        </div>
                                                                        <div class="review-rating rating">
                                                                            <div class="stars"></div>
                                                                            <div class="stars"></div>
                                                                            <div class="stars"></div>
                                                                            <div class="stars"></div>
                                                                            <div class="stars"></div>
                                                                        </div>
                                                                        <div class="review-title">
                                                                            <p>Awesome product!</p>
                                                                        </div>
                                                                        <div class="review-text">
                                                                            <p>Món đồ rất đáng tiền mua.</p>
                                                                        </div>
                                                                    </li>
                                                                    <li class="item">
                                                                        <div class="review-form">
                                                                            <p class="person">Review by Minh</p>
                                                                            <p class="mini-text">On 7/7/24</p>
                                                                        </div>
                                                                        <div class="review-rating rating">
                                                                            <div class="stars"></div>
                                                                            <div class="stars"></div>
                                                                            <div class="stars"></div>
                                                                            <div class="stars"></div>
                                                                        </div>
                                                                        <div class="review-title">
                                                                            <p>Awesome product!</p>
                                                                        </div>
                                                                        <div class="review-text">
                                                                            <p>Món đồ rất khá đẹp.</p>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                                <div class="second-links">
                                                                    <a href="#" class="view-all">View all reviews<i class="ri-arrow-right-line"></i></a>
                                                                </div>
                                                            </div>
                                                            <div id="review-rorm" class="review-form">
                                                                <h4>Write a review</h4>
                                                                <div class="rating">
                                                                    <p>Are you satisfied enough?</p>
                                                                    <div class="rate-this">
                                                                        <input type="radio" name="rating" id="star5">
                                                                        <label for="star5"><i class="ri-star-fill"></i></label>

                                                                        <input type="radio" name="rating" id="star4">
                                                                        <label for="star4"><i class="ri-star-fill"></i></label>

                                                                        <input type="radio" name="rating" id="star3">
                                                                        <label for="star3"><i class="ri-star-fill"></i></label>

                                                                        <input type="radio" name="rating" id="star2">
                                                                        <label for="star2"><i class="ri-star-fill"></i></label>

                                                                        <input type="radio" name="rating" id="star1">
                                                                        <label for="star1"><i class="ri-star-fill"></i></label>
                                                                    </div>
                                                                </div>
                                                                <form action="">
                                                                    <p>
                                                                        <label>Name</label>
                                                                        <input type="text">
                                                                    </p>
                                                                    <p>
                                                                        <label>Summary</label>
                                                                        <input type="text">
                                                                    </p>
                                                                    <p>
                                                                        <label>Review</label>
                                                                        <textarea cols="30" rows="10"></textarea>
                                                                    </p>
                                                                    <p><a href="#" class="primary-button">Submit Review</a></p>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</main>
<!-----------------------main---------------------->
