@{
    ViewBag.Title = "Home Page";
}

    <main>
        <!----------------SLIDER--------------->
        <div class="slider">
            <div class="container">
                <div class="wrapper">
                    <div class="myslider swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="image object-cover">
                                        <img src="https://ananas.vn/wp-content/uploads/Pro_AV00149_1.jpg" alt="ảnh giày" />
                                    </div>
                                    <div class="text-content flexcol">
                                        <h4> Shoe fashion</h4>
                                        <h2><span>Come and get it!</span><br><span>Brand New Shoe</span></h2>
                                        <a href="#" class="primary-button">Shop now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="image object-cover">
                                        <img src="https://ananas.vn/wp-content/uploads/Pro_AV00005_1.jpeg" alt="Anh slider" />
                                    </div>
                                    <div class="text-content flexcol">
                                        <h4>Quick fashion</h4>
                                        <h2><span>Wanna Go Pro?</span><br><span>Take this</span></h2>
                                        <a href="#" class="primary-button">Show now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="item">
                                    <div class="image object-cover">
                                        <img src="https://ananas.vn/wp-content/uploads/pro_AV00114_1.jpg" alt="Anh Slider" />
                                    </div>
                                    <div class="text-content flexcol">
                                        <h4>Quick fashion</h4>
                                        <h2><span>Feel Boring?</span><br><span>Maybe this?</span></h2>
                                        <a href="#" class="primary-button">Show now</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

            </div>
        </div>



        <!----------------BRANDS--------------->
        <div class="brands">
            <div class="container">
                <div class="wrapper flexitem">
                    <div class="item">
                        <a href="#">
                            <img src="https://th.bing.com/th/id/OIP.IGAtQ8yZOBHlpr0Yhq9PMwHaC6?rs=1&pid=ImgDetMain" style="width:200px;height:100px" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="https://th.bing.com/th/id/OIP.aw4ynosen6elgMpjUjaUBwHaEK?rs=1&pid=ImgDetMain" style="width:200px;height:100px" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="https://th.bing.com/th/id/OIP.MZKXKtx_ZwnLovVZ3PBiYAHaFS?rs=1&pid=ImgDetMain" style="width:200px;height:100px" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="https://th.bing.com/th/id/OIP._Tv029G536M9tkdU_kJ5UgHaEK?rs=1&pid=ImgDetMain" style="width:200px;height:100px" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="https://th.bing.com/th/id/OIP.Gqa4QKoOYPn7TBLBKhlQhQHaHa?rs=1&pid=ImgDetMain" style="width:200px;height:100px" alt="" />
                        </a>
                    </div>
                    <div class="item">
                        <a href="#">
                            <img src="https://logos-world.net/wp-content/uploads/2020/09/New-Balance-Emblem.png" style="width:200px;height:100px" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!----------------FEATURED-PRODUCTS--------------->
        <div class="features">
            <div class="container">
                <div class="wrapper">
                    <div class="column">
                        <div class="sectop flexitem">
                            <h2><span class="circle"></span><span>Featured Products</span></h2>
                            <div class="second-links">
                                <a href="#" class="view-all">View all<i class="ri-arrow-right-line"></i></a>
                            </div>
                        </div>
                        <div class="products main flexwrap">
                            <div class="item">
                                <div class="media">
                                    <div class="thumbnail object-cover">
                                        <a href="page-single.html">
                                            <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/47f1be7a-8cc2-4fbb-acfc-28212e7a8056/air-jordan-i-high-g-golf-shoes-qKzTBg.png" />
                                        </a>
                                    </div>
                                    <div class="hoverable">
                                        <ul>
                                            <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                            <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                            <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="discount circle flexcenter"><span>25%</span></div>
                                </div>
                                <div class="content">
                                    <div class="rating">
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <span class="mini-text">(1,995)</span>
                                    </div>
                                    <h3><a href="page-single.html">Air Jordan I High G</a></h3>
                                    <div class="price">
                                        <span class="current">5,279,000₫</span>
                                        <span class="normal mini-text">7,279,000₫</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="media">
                                    <div class="thumbnail object-cover">
                                        <a href="#">
                                            <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/0e6648ed-4722-4085-8fcb-882cc674454f/air-jordan-i-high-g-golf-shoes-qKzTBg.png" />
                                        </a>
                                    </div>
                                    <div class="hoverable">
                                        <ul>
                                            <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                            <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                            <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="discount circle flexcenter"><span>25%</span></div>
                                </div>
                                <div class="content">
                                    <div class="rating">
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <span class="mini-text">(1,995)</span>
                                    </div>
                                    <h3><a href="#">Air Jordan I High G</a></h3>
                                    <div class="price">
                                        <span class="current">5,279,000₫</span>
                                        <span class="normal mini-text">7,279,000₫</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="media">
                                    <div class="thumbnail object-cover">
                                        <a href="#">
                                            <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/211d4d31-22dc-4792-aafd-70a6d32a4fdf/air-jordan-i-high-g-golf-shoes-qKzTBg.png" />
                                        </a>
                                    </div>
                                    <div class="hoverable">
                                        <ul>
                                            <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                            <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                            <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="discount circle flexcenter"><span>25%</span></div>
                                </div>
                                <div class="content">
                                    <div class="rating">
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <span class="mini-text">(1,995)</span>
                                    </div>
                                    <h3><a href="#">Air Jordan I High G</a></h3>
                                    <div class="price">
                                        <span class="current">5,279,000₫</span>
                                        <span class="normal mini-text">7,279,000₫</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="media">
                                    <div class="thumbnail object-cover">
                                        <a href="#">
                                            <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/913bcc8e-541d-4f42-9f34-eaacf1dfbb1b/air-jordan-i-high-g-golf-shoes-qKzTBg.png" />
                                        </a>
                                    </div>
                                    <div class="hoverable">
                                        <ul>
                                            <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                            <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                            <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="discount circle flexcenter"><span>25%</span></div>
                                </div>
                                <div class="content">
                                    <div class="rating">
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <span class="mini-text">(1,995)</span>
                                    </div>
                                    <h3><a href="#">Air Jordan I High G</a></h3>
                                    <div class="price">
                                        <span class="current">5,279,000₫</span>
                                        <span class="normal mini-text">7,279,000₫</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="media">
                                    <div class="thumbnail object-cover">
                                        <a href="#">
                                            <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/037c28bc-ccaa-40ff-9e03-03701324155c/air-jordan-1-zoom-cmft-2-shoes-nX8Qqx.png" />
                                        </a>
                                    </div>
                                    <div class="hoverable">
                                        <ul>
                                            <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                            <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                            <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="discount circle flexcenter"><span>25%</span></div>
                                </div>
                                <div class="content">
                                    <div class="rating">
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <span class="mini-text">(1,995)</span>
                                    </div>
                                    <h3><a href="#">Air Jordan I High G</a></h3>
                                    <div class="price">
                                        <span class="current">5,279,000₫</span>
                                        <span class="normal mini-text">7,279,000₫</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="media">
                                    <div class="thumbnail object-cover">
                                        <a href="#">
                                            <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/d63cb565-a8fa-4731-89c9-144b41591c4f/air-jordan-1-mid-shoes-86f1ZW.png" />
                                        </a>
                                    </div>
                                    <div class="hoverable">
                                        <ul>
                                            <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                            <li><a href="#"><i class="ri-eye-line"></i></a></li>
                                            <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="discount circle flexcenter"><span>25%</span></div>
                                </div>
                                <div class="content">
                                    <div class="rating">
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <div class="stars"></div>
                                        <span class="mini-text">(1,995)</span>
                                    </div>
                                    <h3><a href="#">Air Jordan I High G</a></h3>
                                    <div class="price">
                                        <span class="current">5,279,000₫</span>
                                        <span class="normal mini-text">7,279,000₫</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!----------------BANNERS---------------->
        <div class="banners">
            <div class="container">
                <div class="wrapper">
                    <div class="column">
                        <div class="banner flexwrap">
                            <div class="row">
                                <div class="item">
                                    <div class="image">
                                        <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/16389927-77c7-412e-ba24-6d1c59b01bc7/digital-gift-card-emailed-in-approximately-2-hours-or-less-B9Mv2K.png" />
                                    </div>
                                    <div class="text-content flexcol">
                                        <h4>Super Sale!</h4>
                                        <h3><span>Get the deal in here</span><br>Member Card (Nike)</h3>
                                        <a href="#" class="primary-button">Shop Now</a>
                                    </div>
                                    <a href="#" class="over-link"></a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item get-gray">
                                    <div class="image">
                                        <img src="https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/eb361b64-8b46-4c24-836e-371ea1dabda2/digital-gift-card-emailed-in-approximately-2-hours-or-less-B9Mv2K.png" />
                                    </div>
                                    <div class="text-content flexcol">
                                        <h4>Super Sale!</h4>
                                        <h3><span>Get the deal in here</span><br>Member Card (Jordan)</h3>
                                        <a href="#" class="primary-button">Shop Now</a>
                                    </div>
                                    <a href="#" class="over-link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-----------------------main---------------------->
